.clickable{
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.container .btn-holder {
  justify-content: flex-end;
  display: flex;
  
}
.btn-holder{
  color:blue;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid beige;

}

th {
  
  color: white;
}



tr:nth-child(even) {
  background-color: rgba(33, 123, 226, 0.93);
}

tr:nth-child(odd) {
  background-color: #066272;

}
